<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<uses-feature
		android:name="android.software.leanback"
		android:required="false" />

	<application
		android:name=".app.ZappApplication"
		android:allowBackup="true"
		android:banner="@mipmap/ic_banner"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:enableOnBackInvokedCallback="true"
		android:fullBackupContent="@xml/full_backup_content"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:localeConfig="@xml/locales_config"
		android:resizeableActivity="true"
		android:supportsRtl="false"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

		<meta-data
			android:name="com.samsung.android.icon_container.has_icon_container"
			android:value="true" />

		<property
			android:name="android.content.MEDIA_CAPABILITIES"
			android:resource="@xml/media_capabilities" />

		<activity
			android:name=".tv.main.MainActivity"
			android:exported="true"
			android:screenOrientation="landscape"
			android:theme="@style/LeanbackAppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".tv.player.PlayerActivity"
			android:screenOrientation="landscape"
			android:theme="@style/LeanbackAppTheme" />

		<activity
			android:name=".tv.error.ErrorActivity"
			android:screenOrientation="landscape"
			android:theme="@style/LeanbackAppTheme" />

		<activity
			android:name=".tv.faq.FaqActivity"
			android:screenOrientation="landscape"
			android:theme="@style/LeanbackAppTheme" />

		<activity
			android:name=".tv.changelog.ChangelogActivity"
			android:screenOrientation="landscape"
			android:theme="@style/LeanbackAppTheme" />

		<activity
			android:name=".tv.error.CrashActivity"
			android:excludeFromRecents="true"
			android:finishOnTaskLaunch="true"
			android:launchMode="singleInstance"
			android:process=":acra"
			android:screenOrientation="landscape"
			android:theme="@style/LeanbackAppTheme" />

		<activity
			android:name=".app.main.MainActivity"
			android:exported="true"
			android:launchMode="singleTop"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".app.livestream.ui.detail.ChannelPlayerActivity"
			android:autoRemoveFromRecents="true"
			android:configChanges="keyboard|keyboardHidden|navigation|screenSize|smallestScreenSize|screenLayout|orientation"
			android:excludeFromRecents="true"
			android:launchMode="singleTask"
			android:noHistory="true"
			android:resizeableActivity="true"
			android:supportsPictureInPicture="true"
			android:taskAffinity=".YourVideoPlayerActivityTask"
			android:theme="@style/FullscreenTheme" />
		<activity
			android:name=".app.mediathek.ui.detail.player.MediathekPlayerActivity"
			android:autoRemoveFromRecents="true"
			android:configChanges="keyboard|keyboardHidden|navigation|screenSize|smallestScreenSize|screenLayout|orientation"
			android:excludeFromRecents="true"
			android:launchMode="singleTask"
			android:noHistory="true"
			android:resizeableActivity="true"
			android:supportsPictureInPicture="true"
			android:taskAffinity=".YourVideoPlayerActivityTask"
			android:theme="@style/FullscreenTheme" />

		<service
			android:name=".app.player.BackgroundPlayerService"
			android:exported="false"
			android:foregroundServiceType="mediaPlayback" />

		<service
			android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
			android:enabled="false"
			android:exported="false">
			<meta-data
				android:name="autoStoreLocales"
				android:value="true" />
		</service>

		<receiver
			android:name=".app.mediathek.controller.downloads.RetryDownloadBroadcastReceiver"
			android:exported="false" />

		<receiver
			android:name=".utils.system.PackageUpdateReceiver"
			android:enabled="true"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>
	</application>

</manifest>
